body{
	color: #1c1c1c;
	font-family: 'Secular One', sans-serif;
	width: 100vw;
	height:100vh;
	background: linear-gradient(to right, #a1ffce, #faffd1);
}



#container{
	position: absolute;
	width: 70%;	
	top: 7rem;
	left: 7rem;
	border-radius: 15px;
}


.one{
	background-color: #faffd1;
	display: flex;
	justify-content: center;
	align-items: baseline;
	position: absolute;
	top: 1rem;
	left: 10rem;
	border-radius: 15px;
	cursor: alias;
	width: 200px;
}
.one h4{
	margin-right: 10px;
}

.two{
	background-color: #faffd1;
	display: flex;
	justify-content: center;
	align-items: baseline;
	position: absolute;
	top: 6rem;
	left: 10rem;
	border-radius: 15px;
	cursor: alias;
	width: 200px;
}
.two h4{
	margin-right: 10px;
}
.three{
	background-color: #faffd1;
	display: flex;
	justify-content: center;
	align-items: baseline;
	position: absolute;
	top: 11rem;
	left: 10rem;
	border-radius: 15px;
	cursor: alias;
	width: 200px;
}
.three h4{
	margin-right: 10px;
}
.four{
	background-color: #faffd1;
	display: flex;
	justify-content: center;
	align-items: baseline;
	position: absolute;
	top: 16rem;
	left: 10rem;
	border-radius: 15px;
	cursor: alias;
	width: 200px;
}
.four h4{
	margin-right: 10px;
}
.five{
	background-color: #faffd1;
	display: flex;
	justify-content: center;
	align-items: baseline;
	position: absolute;
	top: 21rem;
	left: 10rem;
	border-radius: 15px;
	cursor: alias;
	width: 200px;
}
.five h4{
	margin-right: 10px;
}
.six{
	background-color: #faffd1;
	display: flex;
	justify-content: center;
	align-items: baseline;
	position: absolute;
	top: 26rem;
	left: 10rem;
	border-radius: 15px;
	cursor: alias;
	width: 200px;
}
.six h4{
	margin-right: 10px;
}
label{
	font-size: 4rem;
	font-family: 'Nosifer', cursive;
	color: #2c2c2c;
	position: absolute;
	left: 15rem;
	top: 2rem;
}

.nav{
	position: absolute;
	display: flex;
	top: 6rem;
	left: 30rem;
	width: 10rem;
	flex-direction: column;
	align-items: flex-start;
}

a{
	text-decoration: none;
	color: #212529;
	margin-top: 54px;
}

.nav i{
	font-size: 1.5rem;
}